.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************** MAIN ***********************/

.form{
    display: flex;
    flex-direction: column;
    background-color: #30544E;
    justify-content: space-around;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 100vw;
    padding-bottom: 10vh;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

fieldset{
    border: none;
}

label{
    color: #F5E078;
    font-size: 1.3em !important;
    font-weight: bold;
    text-transform: uppercase;
}

#title{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    color: #F5E078;
    text-transform: uppercase;
    text-align: center;
}


.form input, textarea, select{
    line-height: 25px;
    border: none;
    background-color: #30544E;
    border-bottom: 1px solid #F5E078;
    padding-bottom: none;
    border-radius: 2px;
    color: #F5E078;
}


.form fieldset > input:focus, textarea:focus, select:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #F5E078;
    border-radius: 5px;
}

.form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #A78B48;
}
.form ::-moz-placeholder { /* Firefox 19+ */
    color: #A78B48;
}

.form *{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    width: 80vw;
    padding: 14px;
    margin: auto;
}

.button{
    line-height: 20px;
    color: #30544E;
    font-size: 12px;
    background-color:#F5E078;
    border: 1px solid #30544E;
    display: inline-block;
    width: 40vw;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.list{
    display: flex;
}

.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list a{
    text-decoration: none;
    color: #F5E078;
    margin: 0;
    padding: 0;
}

#checkbox{
    display: flex;
    flex-wrap: nowrap;
}

#checkbox input, label {
    width: fit-content;
    text-transform: initial;
    color: #A78B48;
    font-size: 1em !important;
}

/* #checkbox input[type="checkbox"]:checked{
    background-color: red !important;
} */

.feedbackError{
    font-size: 0.85em !important;
    color: tomato;
    font-weight: 500;
    font-style: italic;
    margin-top: -20px;
}

.inputError{
    border: solid 1px tomato !important;
    border-radius: 10px !important; 
}


/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){

    /*********************** MAIN TABLET ***********************/
    
    main {
        margin-top: 0vw;
    }
    .form{
        width: 75vw;
        padding-bottom: 8vh;
        border-radius: 10px;
    }
    #title{
        font-size: 1.5em;
        padding-top: 8vh;
    }
    .form *{
        font-size: 14px;
        width: 60vw;
        padding: 16px;
    }
    .button{
        font-size: 14px;
        width: 25vw;
        border-radius: 6px;
    }

}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){

    /*********************** MAIN DESKTOP ***********************/
    
    /*********************** MAIN DESKTOP ***********************/
    

    .form{
        width: 50vw;
        padding-bottom: 5vh;
        border-radius: 16px;
    }

    #title{
        font-size: 2em;
        padding-top: 5vh;
    }

    .form *{
        font-size: 16px;
        width: 35vw;
        padding: 15px;
    }   

    input, textarea, select{
        transition: all 100ms;
    }

    .form input:hover, textarea:hover, select:hover{
        line-height: 25px;
        background-color: #30544E; /**hacer que este color sea igual pero mas claro**/
        /*border: solid 1px #F5E078;*/
        /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);*/
        box-shadow: 0px 0px 5px #F5E078d0;
    }
/*     .form textarea:hover{
        line-height: 18px;
        background-color: #30544E;
        box-shadow: 0px 0px 5px #F5E078d0;
    } */

    .button{
        font-size: 18px;
        width: 15vw;
        border-radius: 8px;
    }

    .button{
        transition: all 100ms;
    }

    .button:hover{
        background-color: #30544E;
        color: #F5E078;
        border: solid 1px #F5E078;
        font-size: 22px;
        box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
    }

    .list a{
        transition: all 100ms;
    }
    .list a:hover{
        color: #A78B48;
    }
    
}