.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************** GENERAL ***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E2E7E6;
   }

p {
    font-size: 12px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}



/*********************************************** MOBILE ***********************************************/

/*********************** HEADER ***********************/

.main-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}

.logo{
    padding: 10px;
    width: 40vw;
    
}

.search { 
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:#666;
    width: 55vw;
    margin: 5px;
}

.searchBar{
    border: none;
    padding:5px 10px;
    width: 75%;
}

.main-nav ul{
    list-style: none;
}

.main-nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}