.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************** GENERAL ***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E2E7E6;
    position: relative;
   }

p {
    font-size: 12px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}


/*********************************************** MOBILE ***********************************************/

/*********************** HEADER ***********************/
header{
    background-color: #F5E078;

}

.mainHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
}

.logo{
    padding: 2px;
    width: 20vw;   
}

.search { 
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    color:#30544E;
    width: 50vw;
    margin: 5px;
    margin-right: auto;
}

.searchBar{
    color: #30544E;
    border: none;
    padding:5px 10px;
    width: 85%;
}


.mainNav{
    display: none;
}

.mainNav a:hover{
    color: #A78B48;
}

.iconsNav{
    display: none;
}

.iconsNav a:hover{
    color: #A78B48;
}

.burgerMenu{
    font-size: 6vw;
    color: #F5E078;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: auto;
    background-color: #30544E;
    border: solid #30544E 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenu:hover{
    background-color: #A78B48;
    border: solid #A78B48 1px;
    transition: all 0.25s;

}

/*********************** MAIN ***********************/

main {
    background-color: #E2E7E6;
    padding: 10px;
    margin-top: 0vw;
}


.article{
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 306px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.box-article{
    padding: 15px;
}

.price {
    font-size: 1.5em;
    font-weight: bolder;
}

.description {
    text-transform:uppercase ;
    font-size: 1em;
    font-weight: bold;
    color:#30544E;
}

.quotes {
    display: none;
}

.image{
    width: 96%;
    border-radius: 10px;
    margin: 2%;
}

.iconCart{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#30544E;
    height: 40px;
    width: 40px;
    border: solid 2px #30544E;
    border-radius:100%;
    position: absolute;
    right: 10px;
}

.iconCart:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid #F5E078 2px;
    transition: all 0.5s;

}

/*********************** FOOTER ***********************/

footer{
    background-color: #30544E;
    text-align: left;
    width: 100vw;
    height: fit-content;
    color: #F5E078;
    padding-left: 10px;
    padding-top: 10px;
/*     position: absolute;
    bottom: 0; */
}

#brandFooter{
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}
.footerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: 50px;
    width: auto;
    justify-content: space-evenly;
    margin: auto;
    align-content: space-around;
    margin-bottom: 15px;
}

.footerNav a:hover{
    color: #A78B48;
}

.footerNav a{
    text-decoration: none;
    color:#F5E078;
    padding: 20px;
}

.footerTitle {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.footerContact{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: auto;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.footerContact li{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
}

.iconContact{
    margin: 0px 2px;
    width: 20px;
    text-align: center
}

#copyright{
    margin-top: 10px;
    text-align: center;
    width: 100vw;
}

.iconPay{
    font-size: 2em; 
    margin-bottom: 15px;
    text-align: center;
}

.iconSocial{
    font-size: 3em; 
    margin-bottom: 15px;
    text-align: center;
}

/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){
 
    /*********************** HEADER TABLET ***********************/    
    .logo {
        width: 100px;
    }

    .mainNav{
        display: flex;
        list-style: none;
        width: 45vw;
        justify-content: space-between;
    }

    .mainNav a{
        text-decoration: none;
        color: #30544E;
        padding: 5px 0;
        font-size: 1.1em;
        font-weight: bolder;
    }

    .iconsNav{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 10vw;
        margin-right: -6vw;
    }
    
    .iconsNav a{
        font-size: 150%;
        color: #30544E;
    }

    .search {
        width: 20%;
        margin: 5px;
    }
    .burgerMenu{
        display: none;
    }

    /*********************** MAIN TABLET ***********************/
    
    main {
        margin-top: 0vw;
    }
  
    .article{
        margin-inline: 4vw;
        max-width: 40vw;
    }
    
    .generalArticles{    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .quotes {
        display: block;
        font-size: 16px;
        text-align: center;
        border: solid 1px #30544E;
        border-radius: 5px;
        padding: 5px;
    }


    /*********************** FOOTER TABLET ***********************/
    footer{
        padding: 0px;
    }

    .footerTitle {
        text-align: left;
    }

    #brandFooter {
        width: 68%;
        text-align: left;
        margin-left: 10px;
    }

    #footerGeneral{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .footerContent{
        width: 20vw;
    }

    .footerNav{
        width: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .footerNav a {
        padding: 0px;
    }

    .footerContact {
        align-items: flex-start
    }

    .footerContact li {
        justify-content: left;
    }

    .iconPay{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .iconSocial{
        font-size: 2em; 
    }
    

}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
    /*********************** HEADER DESKTOP ***********************/
    .mainHeader{
        width: 1366px;
        margin: auto;
    }

    .mainNav{
        width: 50%;
        justify-content: space-around;
    }

    .mainNav a{
        font-size: 1.5em;
    }
    
    .iconsNav{
        margin: 0px;
        width: 10%;
    }

    /*********************** MAIN DESKTOP ***********************/

    .generalArticles{
        width: 1366px;
        margin: auto;
     }


    .article{
        margin-inline: 1vw;
        max-width: 22%;
    }

    /*********************** FOOTER DESKTOP ***********************/

    #footerGeneral{
       width: 1366px;
       margin: auto;
    }

    .footerContent{
        width: 20%;
    }
}

@media (max-width: 1023px){

}