/*********************** MAIN ***********************/

.form{
    display: flex;
    flex-direction: column;
    background-color: #30544E;
    justify-content: space-around;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 100vw;
    padding-bottom: 10vh;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

fieldset{
    border: none;
}

#title{
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    color: #F5E078;
}

input{
    border: none;
    background-color: #30544E;
    border-bottom: 1px solid #F5E078;
    padding-bottom: none;
    border-radius: 0px;
}

.search *{
    background-color: white;
}

fieldset > input:focus {
    outline: none;
    background-color: white;
}

::placeholder{
    opacity: 1;
}/**resolver este tema**/

input:valid{
    font-style: italic;
}/**revisar esto, bajarlo a desktop**/

.form *{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    width: 80vw;
    padding: 14px;
    margin: auto;
}

.button{
    color: #30544E;
    font-size: 12px;
    background-color:#F5E078;
    border: 1px solid #30544E;
    display: inline-block;
    width: 40vw;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.list{
    display: flex;
}

.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list a{
    text-decoration: none;
    color: #F5E078;
    margin: 0;
    padding: 0;
}


/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){

    /*********************** MAIN TABLET ***********************/
    
    main {
        margin-top: 0vw;
    }
    .form{
        width: 75vw;
        padding-bottom: 8vh;
        border-radius: 10px;
    }
    #title{
        font-size: 1.5em;
        padding-top: 8vh;
    }
    .form *{
        font-size: 14px;
        width: 60vw;
        padding: 16px;
    }
    .button{
        font-size: 14px;
        width: 25vw;
        border-radius: 6px;
    }

}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){

    /*********************** MAIN DESKTOP ***********************/
    
    .form{
        width: 50vw;
        padding-bottom: 5vh;
        border-radius: 16px;
    }

    #title{
        font-size: 2em;
        padding-top: 5vh;
    }

    .form *{
        font-size: 16px;
        width: 35vw;
        padding: 20px;
    }   

    .button{
        font-size: 18px;
        width: 15vw;
        border-radius: 8px;
    }

    input{
        transition: all 100ms;
    }
    input:hover{
        background-color: #30544E; /**hacer que este color sea igual pero mas claro**/
        border: solid 1px #F5E078;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }

    .button{
        transition: all 100ms;
    }
    .button:hover{
        background-color: #30544E;
        color: #F5E078;
        border: solid 1px #F5E078;
        font-size: 22px;
        box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
    }

    .list a{
        transition: all 100ms;
    }
    .list a:hover{
        color: #FAD7C5;
    }
    
}