.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************************************** MOBILE ***********************************************/

/*********************** MAIN ***********************/

main{
    margin: 20px 40px;
    color: #30544E;
}

main h2{
    margin-bottom: 3px;
}

.box-imagen{
    display: flex;
    flex-wrap: wrap;
    height: 55%;
    justify-content: space-between;
    align-items: center;
}

main img{
    width: 30%;
    margin: 10px;
}

.box-imagen2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 60%;
    border: solid 2px #30544E;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    line-height: 40px;
    font-size: 14px;
    font-style: italic;
    justify-content: space-between;
}

.texto1{
    margin: 5px;
}

.texto2{
    margin: 5px;
}

main p{
    text-align: center;
}

.box-imagen2 i{
    margin: 5px;
}

.box-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    width: 80%;
    align-items: center;
}

.box-precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    width: 80%;
}

.box-cantidad{
    margin: auto;
}

.box-imagen label{
    margin-left: 10px;
}

.box-imagen select{
    width: 33%;
}

.box-subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.box-envio{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}

.box-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.comprar-button{
    display: flex;
    flex-wrap: wrap;
    color: #30544E;
    font-size: 13px;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: 15vw;
    border-radius: 4px;
    margin: auto;
    padding: 2px;
    transition: all 100ms;
}

.postal-button{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.postal-button button{
    display: flex;
    flex-wrap: wrap;
    color: #30544E;
    font-size: 13px;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: 15vw;
    border-radius: 4px;
    margin: auto;
    padding: 2px;
    transition: all 100ms;
    justify-content: center;
}


/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){
    
    main img{
        width: 25%;
    }

    .box-imagen{
        justify-content: space-around;
    }

    .box-imagen label{
        margin-left: 0px;
    }

    .box-imagen2{
        font-size: 16px;
        display: flex;
        justify-content: space-around;
    }

    .texto1{
        margin: 10px;
    }

    .texto2{
        margin: 10px;
    }

    main p{
        font-size: 15px;
    }

}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
   
}