.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************************************** MOBILE ***********************************************/

/*********************** MAIN ***********************/

main{
    margin: 20px 40px;
    color: #30544E;
}

main h2{
    margin-bottom: 3px;
}

.box-imagen{
    display: flex;
    flex-wrap: wrap;
    height: 55%;
    justify-content: space-between;
    align-items: center;
}

main figure{
    width: 40%;
}

figure img{
    width: 40%;
    margin: 10px;
    border-radius: 10px;
}

.box-imagen2{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    height: 60%;
    border: solid 2px #30544E;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    line-height: 40px;
    font-size: 14px;
    font-style: italic;
    justify-content: space-between;
}

main p{
    text-align: center;
}

.box-imagen2 i{
    margin: 5px;
}

.box-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    width: 80%;
    align-items: center;
}

.texto1{
    width: 44%;
}

.box-precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    width: 80%;
}

.box-cantidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-cantidad input{
    width: 25%;
    height: 70%;
    margin: 7px;
}

.box-imagen label{
    margin-left: 10px;
}

.box-imagen select{
    width: 33%;
}

.box-subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.box-envio{
    display: grid;
    margin: 10px;
    align-items: center;
}

.box-envio p{
    font-size: 1rem;
    text-align: left;
}

.box-total{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comprar-button{
    color: #30544E;
    font-size: 0.8rem;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: 15vw;
    border-radius: 4px;
    padding: 4px;
    transition: all 100ms;
    margin-left: 8px;
}

.comprar-button:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid 1px #F5E078;
    font-size: 0.8rem;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

.article-envio{
    line-height: 20px;
}

.postal-button{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.postal-button input{
    padding: 4px;
    margin-right: 5px;
}

.postal-button button{
    display: flex;
    flex-wrap: wrap;
    color: #30544E;
    font-size: 0.8rem;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: 15vw;
    border-radius: 4px;
    margin-left: 8px;
    padding: 4px;
    transition: all 100ms;
    justify-content: center;
    align-items: center;
}

.postal-button button:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid 1px #F5E078;
    font-size: 0.8rem;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}


/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){
    
    main img{
        width: 40%;
    }

    .box-imagen{
        justify-content: space-around;
    }

    .box-imagen label{
        margin-left: 0px;
    }

    .box-imagen2{
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        width: 35%;
    }

    main p{
        font-size: 15px;
    }

}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
    
}