.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************************************** MOBILE ***********************************************/

/*********************** MAIN ***********************/

main{
    color: #30544E;
    margin-top: 15px;
}

main h2{
    margin-bottom: 3px;
}

.product{
    margin: auto;
    padding: 5px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #30544E 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product p{
    margin: 0px;
}

.imageCart{
    width: 15vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

.name{
    font-size: 1em;
    width: 30vw;
}

.price{
    font-size: 1em;
    width: 17vw;
}

.quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
}

.quantity label{
    font-size: 0.75em;
}

.quantity input{
    height: fit-content;
    width: 10vw;
}

button{
    border: none;
}

.buttonTrash{
    color: #F5E078;
    border: solid 1px #F5E078;
    font-size: 1em;
    background-color: #30544E;
    width: fit-content;
    border-radius: 4px;
    padding: 4px;
    transition: all 100ms;
}

.buttonTrash:hover{
    color: #30544E;
    border: solid 1px #30544E;
    background-color: #F5E078;
}

.boxSubtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: auto;
    align-items: baseline;
    width: 90vw;
    padding: 10px;
}

.title{
    font-size: 0.8em;
    font-weight: 400;
    margin: 0px 10px;
}

.boxEnvio{
    display: grid;
    margin: 10px;
    align-items: center;
}

.boxEnvio p{
    font-size: 1rem;
    text-align: left;
}

.boxTotal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.articleEnvio{
    line-height: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.postalButton{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.postalButton input{
    padding: 4px;
    margin-right: 5px;
}

.postalButton button{
    display: flex;
    flex-wrap: wrap;
    color: #30544E;
    font-size: 0.8rem;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: 15vw;
    border-radius: 4px;
    margin-left: 8px;
    padding: 4px;
    transition: all 100ms;
    justify-content: center;
    align-items: center;
}

.postalButton button:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid 1px #F5E078;
    font-size: 0.8rem;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

.buy{
    width: 90vw;
    text-align: right;
    margin: auto;
    margin-bottom: 30px;
}

.buyButton{
    color: #30544E;
    font-size: 1rem;
    background-color: #F5E078;
    border: 1px solid #30544E;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    transition: all 100ms;
    margin-right: 10vw;
}

.buyButton:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid 1px #F5E078;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

.feedbackError {
    position: absolute;
    font-size: 0.75em;
    color: tomato;
    font-weight: 500;
    font-style: italic;
}

/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){
    
    .product{
        width: 80vw;
    }
    
    .imageCart{
        width: 130px;
    }

    .name{
        font-size: 1.5em;
        width: 30vw;
    }
    
    .price{
        font-size: 1.5em;
        width: 17vw;
    }
    
    .quantity label{
        font-size: 1em;
    }

    .quantity input{
        width: 5vw;
    }

    .boxSubtotal{
        width: 80vw;
        margin: auto;
        padding: 20px;
    }

    .title{
        font-size: 1em;
        font-weight: 500;
        margin: 0px 20px;
    }

    .boxEnvio{
        width: 80vw;
        margin: auto;
        padding: 20px;
    }

    .buy{
        width: 80vw;
    }

    .buyButton{
        font-size: 1.5rem;
        padding: 7px;
    }

    .feedbackError {
        font-size: 0.9em;
    }
}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
    
}