.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

a{
    text-decoration:none;
    color: inherit;
}

/*********************************************** MOBILE ***********************************************/


/************************ MAIN ************************/
main, .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main h2{
    text-align: left;
    margin-bottom: 15px;
}

.avatarProfile{
    width: 50vw;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
    border-radius: 15px;
}

.userAvatar{
    text-align: center;
    margin: 20px;
}

.userData, .userOption{
    align-items: left;
    text-align: left;
    width: 50vw;
    margin: 20px;
}

.data{
    font-size: 1.3em;
    font-weight: 500;
}

.userButtons li{
    color: #30544E;
    border: 1px solid #30544E;
    background-color:#F5E078;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.userButtons li button{
    border: none;
    background-color: inherit;
    color: #30544E;
}

.userButtons li:hover{
    background-color: #30544E;
    color: #F5E078;
    border: solid 1px #F5E078;
    font-size: 1em;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.6);
}

.userButtons li:hover>button{
    color: #F5E078;
}

#deleteOption{
    display: none;
}

#deleteOption:target{
    display: contents;
    margin: auto;
}

#deleteProfile{
    background-color: rgba(51, 109, 75, 0.85);
    position: absolute;
    left: 25vw;
    top: 50vh;
    width: 50vw;
    height: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#deleteProfile p{
    font-size: 1.1em;
    font-weight: 500;
    color: #F5E078;
}
    

#deleteProfile ul{
display: flex;
flex-direction: row;
justify-content: space-around;
height: 55px;
}

#deleteProfile ul li button{
    width: 20vw;
    height: 30px;
}

/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){

    /*********************** MAIN TABLET ***********************/

    main, .form{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    align-items: baseline;
    }

    main h2{
        margin-bottom: 30px;
    }

    .avatarProfile{
        width: 240px;
    }

    .userAvatar{
        text-align: center;
        width: 75vw;
    }

    .userData, .userOption{
        width: 25vw;
    }

  /*   .userData p{
        width: 15vw;
        margin-left: 7vw;
    } */

    .userButtons li{
        width: 15vw;
        margin-left: 7vw;
    }

    #deleteProfile p{
        font-size: 1.5em;
    }
}

/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){

    /*********************** MAIN DESKTOP ***********************/
    main, .form{
        margin-bottom: 100px;
        /* height: 65vh; */
    }

    .userAvatar{
        width: 25vw;
    }

    .avatarProfile{
        width: 240px;
    }

}


