/*********************************************** HEADER MOBILE ***********************************************/

.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}


header{
    background-color: #30544E;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(8, 46, 3, 0.6);
    color: #F5E078;
}

.shopCar{
    color: #F5E078;
    size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5%;
}

.search{
    color: #F5E078;
    size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 20px;
    position: absolute;
    right: 10%;
}

.logo{
    padding: 2px;
    width: 20vw;   
}

.searchBar{
    color: #30544E;
    border: none;
    padding:5px 10px;
    width: 85%;
}

.mainNav a:hover{
    color: #A78B48;
}

.iconsNav a:hover{
    color: #A78B48;
}

#menuNav{
    display: none;
    transition: all 0.5s ease-out;
}

#burgerMenu{
    font-size: 6vw;
    color: #30544E;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: auto;
    background-color: #F5E078;
    border: solid #F5E078 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exitMenu{
    font-size: 6vw;
    background-color: #F5E078;
    border: solid #F5E078 1px;
    border-radius: 100%;
    color: #30544E;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

#burgerMenu:hover{
    background-color: #A78B48;
    border: solid #A78B48 1px;
    transition: all 0.25s;
}

#menuNav:target{
    font-size: 1.75em;
    display: flex;
    position: fixed;
    width: 79vw; 
    height: 100vh;
    background-color: #30544EE6 ;
    top: 0;
    right: 0;
    z-index: 2;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

#menuNav:target .burgerMenu{
    visibility: hidden;
}

#menuNav:target .iconsNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: 1.5em;
    top: 4vh;
}

#menuNav:target .iconsNav a{
    color:#F5E078;
    margin: 0 4vw;
}

#menuNav:target .mainNav li{
    font-weight: bold;
    color:#F5E078
}

#menuNav:target .mainNav li ul li{
    font-weight: normal;
    list-style: inside;
    color:#F5E078
}
#menuNav:target .mainNav a{
    color:#F5E078
}

.avatar{
    width: 1.5em;
    border-radius: 100%;   
}

.iconsNav>li>ul{
    display: none;
}

/* a[href='#mainNav'] {
    background-color: black;
} */

/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){

    /*********************** HEADER TABLET ***********************/    
    .logo {
        width: 100px;
    }

    #menuNav:target{
        display: none;
    }

    #menuNav{
        display: contents;
    }

    #exitMenu{
        display: none;
    }

    .mainNav{
        width: 45vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .mainNav li>a{
        color: #F5E078;
        text-decoration: none;
        padding: 5px 0;
        font-size: 1.1em;
        font-weight: 350;
        position: relative;
    }

    .mainNav>li{
        float: left;
        text-align:left
    }

    .mainNav>li>ul{
        display: none;
    }

    .mainNav>li:hover>ul {
        height: 10vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(51, 109, 75, 0.75);
        padding: 0px 10px;
        border-radius: 5px;
        z-index: 1;
    }

    .mainNav>li>ul>li>a{
        margin: 0px;
    }

    .iconsNav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 10vw;
        margin-right: -6vw;
    }
    
    .iconsNav a{
        font-size: 150%;
        color: #F5E078;
    }

    .search {
        width: 20%;
        margin: 5px;
    }
    #burgerMenu{
        display: none;
    }

    .avatar{
        width: 2em;
        height: 2em;
    }

    .iconsNav>li:hover>ul {
        height: 10vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(51, 109, 75, 0.75);
        padding: 0px 10px;
        border-radius: 5px;
        z-index: 1;
    }

    .iconsNav>li>ul>li>a{
        font-size: 1.2em;
    }

}


/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
    /*********************** HEADER DESKTOP ***********************/
    header{
        margin: auto;
    }

    .mainNav{
        width: 50%;
        justify-content: space-around;
    }

    .mainNav li>a{
        font-size: 1.4em;
    }
    
    .iconsNav{
        margin: 0px;
        width: 10%;
    }

}