<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <img class='banner' src="/img/designs/bannerAdmin.jpg" alt="Banner Admin">

        <section>
            <ul id='menuAdmin'>
                <li><a href='/productCreate'><i class="fas fa-upload iconAdmin"></i> Carg치 un nuevo producto!</a></li>
                <li><a href='/products'><i class="fas fa-edit iconAdmin"></i> Edici칩n y borrado de productos</a></li>
                <li><a href='/productDelete'><i class="fas fa-trash iconAdmin"></i> IGNORAME</a></li>
                <li><a href='/register'><i class="fas fa-user-plus iconAdmin"></i> Registr치 a un nuevo usuario</a></li>
                <li><a href='/users'><i class="fas fa-user-plus iconAdmin"></i> Edit치 a un usuario</a></li>
                <li><a href='/userDelete'><i class="fas fa-user-slash iconAdmin"></i> IGNORAME</a></li>
            </ul>
        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>