<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <a href='/'><img class='banner' src="/img/bannerAdmin.jpg" alt="Banner Admin"></a>

        <section class="generalArticles">
            
            <article class="articleMain">
                <a href='/productLoad'>
                    <section class="box-article">
                        <p class="name">Cargá un nuevo producto!</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productEdit'>
                    <section class="box-article">
                        <p class="name">Edición de producto</p>
                    </section>
                </a>
            </article>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>