<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriCaMa Plants</title>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <a href='/'><img class='banner' src="/img/bannerKit.jpg" alt="Banner Kit"></a>

        <section class="generalArticles">
            
            <article class="articleMain">
                <a href='/productLoad'>
                    <section class="box-article">
                        <p class="description">Cargá un nuevo producto!</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productEdit'>
                    <section class="box-article">
                        <p class="description">Edición de producto</p>
                    </section>
                </a>
            </article>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>