<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action = "/" method = "GET" enctype = "multipart/form-data" class = "form">
            <h2 id="title">Completa tus datos!</h2>
            <fieldset class="">
                <input type=text name="completeName" required minlength=8 placeholder="Nombre completo">
            </fieldset>
            <fieldset class="">
                <input type=email name="email" required placeholder="E-mail">
            </fieldset>
            <fieldset class="">
                <input type=password name="password" required minlength="10" placeholder="Contraseña" >
            </fieldset>
            <fieldset class="">
                <input type=password name="repeatPassword" required minlength="10" placeholder="Reingrese la contraseña">
            </fieldset>
                <a href='/'><button type="submit" class="button">ENVIAR</button></a>
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>