<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action = "/users/register" method = "post" class = "form" enctype="multipart/form-data">

            <h2 id="title">Completa tus datos!</h2>

            <fieldset class="">
                <input type=text name="firstName" required placeholder="Nombre">
            </fieldset>

            <fieldset class="">
                <input type=text name="lastName" required placeholder="Apellido">
            </fieldset>

            <fieldset class="">
                <input type=email name="email" required placeholder="E-mail">
            </fieldset>

            <fieldset id="loadPicture">
                <label for="image">Fotos:</label>
                <input type="file" name="image" accept=".png, .jpg, .jpeg">
            </fieldset>

            <fieldset class="">
                <input type=password name="password" required minlength="10" placeholder="Contraseña" >
            </fieldset>

            <fieldset class="">
                <input type=password name="repeatPassword" required minlength="10" placeholder="Reingrese la contraseña">
            </fieldset>

            <fieldset>
                <button type="submit" name="register" class="button">Registrate!</button>
            </fieldset>

        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>