.topBar {
    height: 30px;
    background-color: #30544E;
    color: #F5E078;
    display: flex;
    justify-content: space-around;
    margin: 45px;
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
    align-items: center;
}  