<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriCaMa Plants</title>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>
    <header>
        <div class='mainHeader'>
            <a href='/'><img class='logo' src="/img/Logo-F5E078.png" alt="Logo CriCaMa"></a>

            <ul class='mainNav'>
                <li><a href=''>Plantas</a></li>
                <li><a href=''>Insumos</a></li>
                <li><a href=''>Macetas</a></li>
                <li><a href=''>Conocenos</a></li>
                <li><a href=''>Contacto</a></li>
            </ul>

            <ul class='iconsNav'>
                <li><a href='/productCar'><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href='/login'><i class="fas fa-user"></i></a></li>
            </ul>

            <form action="/search" method="POST" class="search">    
                <i class="fas fa-search"></i><input type="text" name="precio" placeholder="Buscar productos, marcas" class="searchBar">
            </form>

            <div class="burgerMenu">
                <i class="fas fa-bars"></i>
            </div>
    
        </div>  
    </header>
    <main class="main">
        <form action = “” method = “” class="form">
            <h2 id="title">INGRESA!</h2>
            <div>
                <input type = “e-mail” name = “email” required placeholder = e-mail>
            </div>
            <div>
                <input type = “password” name = “contrasena” required placeholder = contraseña>
            </div>
            <div class="list">
                <ul>
                    <li><a href = “#”>Olvide mi contraseña</a></li>
                </ul>
                <ul>
                    <li><a href = '/register'>No tenes cuenta? Registrate!</a></li>
                </ul>
            </div>
            <button class = "button" type="submit">INGRESAR</button>
        </form>
    </main>
    <footer>
        <div id='footerGeneral'>
            <div class="footerContent">
                <p id="brandFooter">Cricama Plants</p>
            </div>

            <div class="footerContent">
                <h2 class='footerTitle'>Navegación</h2>
                <ul class='footerNav'>
                    <li><a href=''>Plantas</a></li>
                    <li><a href=''>Insumos</a></li>
                    <li><a href=''>Macetas</a></li>
                    <li><a href=''>Conocenos</a></li>
                    <li><a href=''>Contacto</a></li>
                </ul>
            </div>

            <div class="footerContent">
                <h2 class='footerTitle'>Contactanos</h2>
                <ul class='footerContact'>
                    <li><div class="iconContact"><i class="fas fa-mobile-alt"></i></div> <a href="https://api.whatsapp.com/send?phone=+5491133907970">011-3390-7970</a></li>
                    <li><div class="iconContact"><i class="fas fa-map-marker-alt"></i></div> <p>Avenida Siempreviva 742</p></li>
                    <li><div class="iconContact"><i class="fas fa-envelope"></i></div> <a href="mailto:cricamaplants@gmail.com?Subject=Consulta%20vía%20web">cricamaplants@gmail.com</a></li>
                    <li><div class="iconContact"><i class="fas fa-clock"></i></div> <p>Lun a Vie 9:30 a 18:30hs</p></li>
                </ul>
            </div>

            <div class="footerContent">
                <h2 class='footerTitle'>Medios de pago</h2>
                <div class="iconPay">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-paypal"></i>
                </div>
            </div>

            <div class="footerContent">
                <h2 class='footerTitle'>Redes sociales</h2>
                <div class="iconSocial">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        
        <p id='copyright'>Copyright © 2021-2021 CriCaMa Plants</p>
    </footer>
</body>
</html>