<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>

    </header>
    <main>
        <form action = "" method = "POST" class = "registerForm">
            <label>Completa tus datos!</label>
            <div class="">
                <input type="text" name="completeName" placeholder="Nombre completo">
            </div>
            <div class="">
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div class="">
                <input type="date" name="DateOfBirth" placeholder="Fecha de nacimiento">
            </div>
            <div class="">
                <input type="password" name="password" placeholder="Contraseña" >
            </div>
            <div class="">
                <label>Elegí el mes de tu cumpleaños</label>
                <select name="province">
                    <option value="buenosAires">Buenos Aires</option>
                    <option value="catamarca">Catamarca</option>
                    <option value="chaco">Chaco</option>
                    <option value="chubut">Chubut</option>
                    <option value="caba">CABA</option>
                    <option value="cordoba">Cordoba</option>
                    <option value="corrientes">Corrientes</option>
                    <option value="entreRios">Entre Rios</option>
                    <option value="formosa">Formosa</option>
                    <option value="jujuy">Jujuy</option>
                    <option value="laPampa">La Pampa</option>
                    <option value="laRioja">La Rioja</option>
                    <option value="mendoza">Mendoza</option>
                    <option value="misiones">Misiones</option>
                    <option value="neuquen">neuquen</option>
                    <option value="rioNegro">Rio Negro</option>
                    <option value="salta">Salta</option>
                    <option value="sanJuan">San Juan</option>
                    <option value="sanLuis">San Luis</option>
                    <option value="santaCruz">Santa Cruz</option>
                    <option value="santaFe">Santa Fe</option>
                    <option value="santiagoDelEstero">Santiago Del Estero</option>
                    <option value="tierraDelFuego">Tierra Del Fuego</option>
                    <option value="tucuman">Tucuman</option>
                </select>
            </div>
            <div class="">
                <input type="text" name="neighbourhood" placeholder="Localidad">
            </div>
            <div class="">
                <input type="text" name="adress" placeholder="Direccion">
            </div>
            <div class="">
                <input type="text" name="uf" placeholder="Departamento">
            </div>
            <div class="">
                <input type="text" name="zipCode" placeholder="Codigo postal">
            </div>
                <button class = "button" type="submit">ENVIAR</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>