<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('./includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <h1>Integrantes del equipo</h1>
        
        <h2 class="personalName">Carlos Rossi:</h2> 
        <p  class="description">Tengo 30 años. Actualmente trabajo como Jefe de Producción en una empresa de manufactura de electrónica para energías renovables. Tanto en la secundaria como en la facultad tuve experiencias programando, pero nunca al nivel de este curso. Me encanta viajar y vivir nuevas experiencias, por lo que creo que saber programar es clave para poder viajar trabajando.</p>
        <p class="repo"><i class="fab fa-github-alt"></i> <a href='https://github.com/CarlosARossi'> https://github.com/CarlosARossi</a> </p>
        <p class="repo"><i class="far fa-envelope"></i> <a href='mailto:carlos91rossi@gmail.com'> carlos91rossi@gmail.com</a> </p>
        
        <h2 class="personalName">Manuel Nacht:</h2> 
        <p class="description">Tengo 19 años. Juego al voley en river plate. Tambien estudio actuario en administracion en la UBA, estoy en primer año. Siempre quise aprender a programar y decidi tirarme a la pileta este año, espero aprender mucho y tambien crecer personalmente.</p>
        <p class="repo"><i class="fab fa-github-alt"></i> <a href='https://github.com/manunacht'>  https://github.com/manunacht</a> </p>
        <p class="repo"><i class="far fa-envelope"></i> <a href='mailto:manivanac@gmail.com'> manivanac@gmail.com</a> </p>
        
        <h2 class="personalName">Cristian Leiva:</h2> 
        <p class="description">Tengo 30 años, nací y vivo actualmente en Córdoba, soy cocinero hace casi 10 años y trabajo en una empresa que realiza viandas y comidas para otras empresas, fábricas y particulares. Me gusta el fútbol y la naturaleza. Me voy de viaje cada vez que puedo para conocer otras formas de vivir y de pensar. Siempre me interesó la programación pero nunca había tenido la oportunidad de aprender, me gusta enfrentar nuevos desafíos y tratar de encontrarle la solución a los problemas con los que me encuentro.</p>
        <p class="repo"><i class="fab fa-github-alt"></i> <a href='https://github.com/CristianGus'> https://github.com/CristianGus</a> </p>
        <p class="repo"><i class="far fa-envelope"></i> <a href='mailto:cristian.leivalot@gmail.com'> cristian.leivalot@gmail.com</a> </p>


    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('./includes/footer') %>
    <script src="/js/orderView.js"></script>

</body>
</html>