<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CriCaMa Plants</title>
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('./includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <a href='/'><img class='banner' src="/img/bannerKit.jpg" alt="Banner Kit"></a>

        <section class="generalArticles">
            
            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/plantas/plantaInterior1.jpg" alt="plantaInterior1">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$6.000</p>
                        <p class="description">ANTHURIUM X MACROLOBIUM</p>
                        <p class="quotes">3 cuotas sin interés de $2.000</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail'>
                    <figure>
                        <img class='image' src="/img/plantas/plantaInteriorPotus.jpg" alt="plantaPotus">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$1.500</p>
                        <p class="description">POTUS MARBLE QUEEN</p>
                        <p class="quotes">3 cuotas sin interés de $500</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/macetas/macetaCilindro.jpg" alt="macetaCilindro">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$600</p>
                        <p class="description">MACETA CILINDRO CEMENTO</p>
                        <p class="quotes">3 cuotas sin interés de $200</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/macetas/macetaTerracota.jpg" alt="macetaTerracota">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$300</p>
                        <p class="description">MACETA TERRACOTA</p>
                        <p class="quotes">3 cuotas sin interés de $100</p>
                    </section>
                </a>
            </article>
    
            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/insumos/insumoFertilizante.jpg" alt="insumoFertilizante">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$450</p>
                        <p class="description">FERTILIZANTE GENERAL</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/insumos/insumoJabon.jpg" alt="insumoJabon">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$450</p>
                        <p class="description">JABÓN POTÁSICO PURO</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/herramientas/herramientaPala.jpg" alt="herramientaPala">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$450</p>
                        <p class="description">PALITA PLÁSTICA ANCHA</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/herramientas/herramientaPulverizador.jpg" alt="herramientaPulverizador">
                    </figure>
                    <section class="box-article">
                        <i class="fas fa-shopping-cart iconCart"></i>
                        <p class="price">$2.550</p>
                        <p class="description">PULVERIZADOR GIBER</p>
                        <p class="quotes">3 cuotas sin interés de $850</p>
                    </section>
                </a>
            </article>
        
        </section>
            
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('./includes/footer') %>

</body>
</html>