<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('./includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <a href='/'><img class='banner' src="/img/bannerKit.jpg" alt="Banner Kit"></a>

        <section class="generalArticles">
            
            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/plantas/plantaInterior1.jpg" alt="plantaInterior1">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$6.000</p>
                        <p class="name">ANTHURIUM X MACROLOBIUM</p>
                        <p class="quotes">3 cuotas sin interés de $2.000</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail'>
                    <figure>
                        <img class='image' src="/img/plantas/plantaInteriorPotus.jpg" alt="plantaPotus">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$1.500</p>
                        <p class="name">POTUS MARBLE QUEEN</p>
                        <p class="quotes">3 cuotas sin interés de $500</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/macetas/macetaCilindro.jpg" alt="macetaCilindro">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$600</p>
                        <p class="name">MACETA CILINDRO CEMENTO</p>
                        <p class="quotes">3 cuotas sin interés de $200</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/macetas/macetaTerracota.jpg" alt="macetaTerracota">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$300</p>
                        <p class="name">MACETA TERRACOTA</p>
                        <p class="quotes">3 cuotas sin interés de $100</p>
                    </section>
                </a>
            </article>
    
            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/insumos/insumoFertilizante.jpg" alt="insumoFertilizante">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">FERTILIZANTE GENERAL</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/insumos/insumoJabon.jpg" alt="insumoJabon">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">JABÓN POTÁSICO PURO</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/herramientas/herramientaPala.jpg" alt="herramientaPala">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">PALITA PLÁSTICA ANCHA</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/'>
                    <figure>
                        <img class='image' src="/img/herramientas/herramientaPulverizador.jpg" alt="herramientaPulverizador">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$2.550</p>
                        <p class="name">PULVERIZADOR GIBER</p>
                        <p class="quotes">3 cuotas sin interés de $850</p>
                    </section>
                </a>
            </article>
        
        </section>
            
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('./includes/footer') %>

</body>
</html>