<!---------------------------------------- FOOTER ---------------------------------------->
<footer>
    <section class="footerContent">
        <p id="brandFooter">Cricama Plants</p>
    </section>

    <section class="footerContent">
        <h2 class='footerTitle'>Navegación</h2>

        <ul class='footerNav'>
            <li><a href='/products/plantas'>Plantas</a></li>
            <li><a href='/products/insumos'>Insumos</a></li>
            <li><a href='/products/macetas'>Macetas</a></li>
            <li><a href='/contact'>Conócenos</a></li>
        </ul>
    </section>

    <section class="footerContent">
        <h2 class='footerTitle'>Contactanos</h2>
        <ul class='footerContact'>
            <li><i class="fas fa-mobile-alt iconContact"></i> <a href="https://api.whatsapp.com/send?phone=+5491133907970">011-3390-7970</a></li>
            <li><i class="fas fa-map-marker-alt iconContact"></i> <p>Avenida Siempreviva 742</p></li>
            <li><i class="fas fa-envelope iconContact"></i> <a href="mailto:cricamaplants@gmail.com?Subject=Consulta%20vía%20web">cricamaplants@gmail.com</a></li>
            <li><i class="fas fa-clock iconContact"></i> <p>Lun a Vie 9:30 a 18:30hs</p></li>
        </ul>
    </section>

    <section class="footerContent">
        <h2 class='footerTitle'>Medios de pago</h2>
        <ul class=iconPay>    
            <li><i class="fab fa-cc-visa"></i></li>
            <li><i class="fab fa-cc-mastercard"></i></li>
            <li><i class="fab fa-cc-paypal"></i></li>
        </ul>
    </section>

    <section class="footerContent">
        <h2 class='footerTitle'>Redes sociales</h2>
        <ul class=iconSocial>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-youtube"></i></li>
        </ul>    
    </section>

    <p id='copyright'>Copyright © 2021-2021 CriCaMa Plants</p>

</footer>
