<!---------------------------------------- HEADER ---------------------------------------->
<header>
    <a href='/'><img class='logo' src="/img/designs/Logo-F5E078.png" alt="Logo CriCaMa"></a>

    <section id='menuNav'>
        <ul class='mainNav'>
            <li><a href='/products/plantas'>Plantas</a>
                <ul>
                    <li><a href=''>Interior</a></li>
                    <li><a href=''>Exterior</a></li>
                </ul>
            </li>
            <li><a href='/products/insumos'>Insumos</a>
                <ul>
                    <li><a href=''>Herramientas</a></li>
                    <li><a href=''>Fertilizantes</a></li>
                </ul>
            </li>
            <li><a href='/products/macetas'>Macetas</a>
                <ul>
                    <li><a href=''>Cuadradas</a></li>
                    <li><a href=''>Redondas</a></li>
                </ul>
            </li>
            <li><a href='/products'>Productos</a></li>
            <li><a href=''>Contacto</a></li>
        </ul>

        <ul class='iconsNav'>
            
            <li><a href='/productCar'><i class="fas fa-shopping-cart"></i></a></li>
            <% if(isLogged){ %> 
                <li><a href='/userProfile/<%=isLogged?isLogged.id:null%>'>
                    <img class='avatar' src="/img/users/userDefault.png" alt="avatar"></a>
                </li>
                <li>
                    <a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
                </li>
            <% }else{ %> 
                <li><a href='/login'><i class="fas fa-user"></i></a></li>
            <% } %> 
        </ul>

        <a href='' id='exitMenu'><i class="fas fa-times"></i></a>
    </section>

    <form action="/searchProduct" method="post" class="search">    
        <i class="fas fa-search"></i><input type="text" name="search" placeholder="Buscar productos, marcas" class="searchBar">
    </form>

    <a href='#menuNav' id='burgerMenu'><i class="fas fa-bars"></i></a>

</header>

