*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div-totales{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}