.paletteColor{
    color:  #30544E
            #F5E078
            #FAD7C5
            #A78B48
            #000000
            #E2E7E6
            #FFFFFF
}

/*********************************************** FOOTER MOBILE ***********************************************/

footer{
    position: absolute;
    bottom: 0;
    background-color: #30544E;
    text-align: left;
    height: fit-content;
    color: #F5E078;
    padding-top: 10px;
}

#brandFooter{
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}
.footerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: auto;
    justify-content: space-evenly;
    margin: auto;
    align-content: space-around;
    margin-bottom: 15px;
}

.footerNav a:hover{
    color: #A78B48;
}

.footerNav a{
    text-decoration: none;
    color:#F5E078;
    padding: 20px;
}

.footerTitle {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.footerContact{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.footerContact li{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
}

.footerContact a{
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
    color: #F5E078;
}

.iconContact{
    margin: 0px 2px;
    width: 20px;
    text-align: center
}

.iconPay{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2em; 
    margin-bottom: 15px;
}

.iconSocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.5em; 
    margin-bottom: 15px;
}

#copyright{
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100vw;
}

/*********************************************** FOOTER TABLET ***********************************************/
@media (min-width: 768px){

    footer{
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .footerTitle {
        text-align: left;
    }

    #brandFooter {
        width: 68%;
        text-align: left;
        margin-left: 10px;
    }


    .footerContent{
        width: 20vw;
    }

    .footerNav{
        width: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .footerNav a {
        padding: 0px;
    }

    .footerContact {
        align-items: flex-start
    }

    .footerContact li {
        justify-content: left;
    }
}

/*********************************************** FOOTER DESKTOP ***********************************************/
@media (min-width: 1021px){
        footer{
            margin: auto;
        }
    
        .footerContent{
            width: 20%;
        }
}

/* 
@media (min-width: 1200px){
    footer {
        margin: auto;
        max-width: 90vw;
    }
} */