<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CriCaMa Plants</title>
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="box-first">
            <p>Inicio / Productos / Potus</p>
        </section>

        <section class="box-detail">

            <figure class="box-imagen">
                <img src="/img/plantas/plantaInteriorPotus.jpg" alt="">
            </figure>
            
            <div class="box-description">

                <article class="box-description1">
                    <p class="titulo">Potus mediano 30 cm.</p>
                    <p>$900</p>
                    <p>Stock: 7 unidades</p>
                    <p>Hasta 3 cuotas sin interés</p>
                    <p>Descuento por transferencia o pago en efectivo</p>  
                </article>
                
                <button class="comprar-button">Agregar al carrito</button>
    
            </div>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>