<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productCar.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <h2>Carrito de compras</h2>
        <hr>

        <section class="boxImagen">

            <figure>
                <img src="/img/plantas/plantaInterior1.jpg" alt="">
            </figure>

            <section class="boxImagen2">

                <article class="texto1"><p>Producto</p><p>Subtotal</p></article>
                <article class="texto1"><p>Ficus Elástica</p><p>$850</p></article>
                
                <article class="boxCantidad">
                    <label for="cantidadFicus">Cantidad:</label>
                    <input id="cantidadFicus" value="1" type="number" name="cantidadFicus">
                </article>

            </section>

        </section>
        
        <hr>

        <article class="boxSubtotal">
            <h4>SUBTOTAL (sin envío)</h4><h4>$850</h4>
        </article>

        <hr>

        <section class="boxEnvio">

            <article class="articleEnvio">
                <p>Retiro en el local (SIN COSTO) ó seleccioná la forma de envío <i class="fas fa-truck"></i></p>
            </article>

            <article class="postalButton">
                <input type="text" placeholder="Ingresá tu codigo postal" class="cantidad"><button class="cantidad">Calcular</button> 
            </article>


            <article class="boxTotal">
                <h5>Total $850 ó hasta 3 cuotas sin interés de $283.33</h5>
                <button class="comprarButton">COMPRAR</button>
            </article>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>