<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CriCaMa Plants</title>
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productCar.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <h2>Carrito de compras</h2>
        <hr>

        <section class="box-imagen">

            <figure>
                <img src="/img/plantas/plantaInterior1.jpg" alt="">
            </figure>

            <section class="box-imagen2">

                <article class="texto1"><p>Producto</p><p>Subtotal</p></article>
                <article class="texto1"><p>Ficus Elástica</p><p>$850</p></article>
                
                <article class="box-cantidad">
                    <label for="cantidadFicus">Cantidad:</label>
                    <input id="cantidadFicus" value="1" type="number" name="cantidadFicus">
                </article>

            </section>

        </section>
        
        <hr>

        <article class="box-subtotal">
            <h4>SUBTOTAL (sin envío)</h4><h4>$850</h4>
        </article>

        <hr>

        <section class="box-envio">

            <article class="article-envio">
                <p>Retiro en el local (SIN COSTO) ó seleccioná la forma de envío <i class="fas fa-truck"></i></p>
            </article>

            <article class="postal-button">
                <input type="text" placeholder="Ingresá tu codigo postal" class="cantidad"><button class="cantidad">Calcular</button> 
            </article>


            <article class="box-total">
                <h5>Total $850 ó hasta 3 cuotas sin interés de $283.33</h5>
                <button class="comprar-button">COMPRAR</button>
            </article>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>