<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="boxFirst">
            <p>Inicio / Productos / Potus</p>
        </section>

        <section class="boxDetail">

            <figure class="image">
                <img src="/img/products/samples/plantaInteriorPotus.jpg" alt="">
            </figure>
            
            <div class="boxDescription">

                <article class="boxDescription1">
                    <p class="name">POTUS MARBLE QUEEN</p>
                    <p class="price">$1500</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nobis illo libero, inventore voluptatem odit non mollitia ratione modi laboriosam quia vero ipsam tenetur adipisci quo numquam repellendus. Numquam, perferendis!</p>
                    <p>Stock: 7 unidades</p>
                    <p class="quotes">Hasta 3 cuotas sin interés</p>
                    <p class="discount">Descuento por transferencia o pago en efectivo</p>  
                </article>
                
                <button class="cartButton">Agregar al carrito</button>
    
            </div>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>