<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="boxFirst">
            <p>Inicio / Productos / Potus</p>
        </section>

        <section class="boxDetail">

            <figure class="boxImagen">
                <img src="/img/plantas/plantaInteriorPotus.jpg" alt="">
            </figure>
            
            <div class="boxDescription">

                <article class="boxDescription1">
                    <p class="titulo">Potus mediano 30 cm.</p>
                    <p>$900</p>
                    <p>Stock: 7 unidades</p>
                    <p>Hasta 3 cuotas sin interés</p>
                    <p>Descuento por transferencia o pago en efectivo</p>  
                </article>
                
                <button class="comprarButton">Agregar al carrito</button>
    
            </div>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>